
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to left, #8360c33b, #2ebf9154);
}

.center {
    display: grid;
    place-items: center;
}

.main_container {

    width: 100vw;
    height: 100vh;

    border: 1px solid gray;
}

.child_container {

    width: 60%;
    height: max-content;

    border: 2px solid rgba(128, 128, 128, 0.297);
    border-radius: 1rem;
    padding: 1.5rem !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: rgba(240, 248, 255, 0.815);
}

img {
    width: 6rem;
    height: 6rem;
}

from {
    width: 100%;
}

button {
    min-width: 25%;
    max-width: 100%;
    height: 2rem;
    margin-top: 2rem;
    margin-left: 2rem;
    padding: 0.5rem 1.1rem;
    outline: none;
    border: none;
    background-color: rgba(9, 142, 142, 0.201);
    color: rgba(0, 0, 255, 0.488);
    border: 2px inset rgba(0, 0, 255, 0.488);
    border-radius: 0.4rem;
    cursor: pointer;
}

button:hover {
    color: aliceblue;
    background-color: rgba(0, 0, 139, 0.576);
    outline: none;
}

input {
    width: 70%;
    height: 2rem;
    outline: none;
    margin: 1rem -2rem 1rem 0rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
    text-align: left;
}

.box {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid gray;
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 1rem;
}

form>p,
form {
    width: 100%;
}

form>p>button {
    width: 40% !important;
}

.textcolor {
    font-weight: bolder;
    font-size: x-large;
    color: rgba(0, 0, 255, 0.488);
}

.questionbox {
    border: 3px solid rgba(128, 128, 128, 0.495);
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;
}

.circal {
    width: 3rem;
    height: 3rem;
    border: 3px solid rgb(0, 0, 255, 0.488);
    border-radius: 50%;
    padding: 0.4rem 0.3rem 0.5rem 0rem;
    text-align: center;
}

.questionbox>.circal {
    position: relative;
    top: -3.5rem;
    background-color: aliceblue;
}

#question {
    position: relative;
    top: -2.5rem;
}


.full {
    width: 95%;
    text-align: center;
}

.align {
    width: 98%;
    margin: 1rem class="full";
}

.align>span:first-child {
    float: left;
}

.align>span:last-child {
    float: right;
}
#category{
    display: none;
}
#questionpage{
    display: none;
}
#resultpage{
    display: none;
}
.disabled {
    pointer-events: none;
    opacity: .65;
  }
  .incorrect {
    background-color: #f70cb0e5;
    color: #d32f2f;
    border-color: #d32f2f;
  }
  .correct {
    background-color: #08dceb;
    color: #689f38;
    border-color: #689f38;
  }